body {
    margin: 0;
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    background-color: #fff;
}
.clearfix:after{content:'';display:block;clear:both}